/* src/main/frontend/components/css/DummyFooter.css */

#footer {
  background-color: rgba(245, 245, 245, 0.8);
  padding: 20px 0;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: left;

  
}

.footer-content {
  max-width: 1800px;
  margin: 0px 0px 0px 280px;
  padding: 10px 20px;
  width: 100%;
  
}

.foot-quick {
  background-color: #e0e0e0; /* 버튼 배경색 */
  padding: 10px 0;
}

.foot-quick button {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
  margin-right: 15px;
}

.foot-quick button:hover {
  text-decoration: underline;
}

.f-logo img {
  max-width: 150px;
  margin: 20px 0;
}

.f-info {
  margin: 20px 0;
}

.info-addr {
  margin-bottom: 10px;
}

.info-cs {
  list-style: none;
  padding: 0;
}

.info-cs li {
  margin: 5px 0;
}

.f-btm {
  margin-top: 20px;
  font-size: 12px;
}

.f-copy {
  margin-bottom: 10px;
}
.gap{
  margin-bottom: 200px;
}