
.footer-flow {
    overflow: hidden;
    position: relative;
}

.footer-flow .card {
    animation: footerFlow 20s linear infinite;
}


@keyframes footerFlow {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
