path:hover {
    outline: none;
    fill: #50BCDF;
}


.rank1 {
    fill: #E6F4Fa;
}

.rank2 {
    fill: #CCE8F4;
}

.rank3 {
    fill: #B2DDEF;
}

.rank4 {
    fill: #96D2EA;
}

.rank5 {
    fill: #76C7E4;
}

