.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px; /* 상단 여백 설정 */
  right: 10px; /* 오른쪽 여백 설정 */
  font-size: 28px;
  font-weight: bold;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height: 85%;
  position: relative; /* close 버튼 위치 상대적으로 설정 */
}

.modal-save{
  display: flex;
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content-save {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  height: 180px;
  min-width: 200px;
  position: relative; /* close 버튼 위치 상대적으로 설정 */
}

.modal-content-save input{
  width:250px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.chat-box{
  margin-top: 35px; /* chat-box를 위로 20px만큼 이동 */
  height: calc(95% - 20px); /* 전체 높이에서 20px만큼 뺌 */
  max-height: calc(90% - 20px); /* 최대 높이에서 20px만큼 뺌 */
  overflow-y: auto;
}
.message {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.message.user {
  justify-content: flex-end;
  margin-right: 10px;
}

.message.bot {
  justify-content: flex-start;
}

.message-text {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
   color: black;
   font-size: 16px;
}

.message.user .message-text {
  background-color: #d3e3fc;
}

.message.bot .message-text {
  background-color: #f2f2f2;
  font-color:black;
}
.chatIcon{
  height:100px;
  cursor:pointer;
}
.chat{
  position: absolute;
    right: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.icon-label{
  font-size: 14px; /* 텍스트 크기 조절 */
  color: #000; /* 텍스트 색상 조절 */
  }
