.myplandetail-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* 컨테이너 간의 간격 */
    flex-wrap: wrap; /* 필요한 경우 줄바꿈 */
}

.myplandetail-container {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    padding: 2rem;
    box-sizing: border-box;
    flex: 1; /* 각 컨테이너가 남은 공간을 동일하게 차지 */
    min-width: 300px; /* 최소 너비를 설정하여 너무 작아지지 않도록 함 */
}


.myplandetail-card {
    padding: 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    background-color: #fff;
    width: 100%;
    max-width: 800px;
}

.myplandetail-text-center {
    text-align: center;
    margin-bottom: 1.5rem;
}

.myplandetail-section {
    margin-bottom: 1rem;
}

.myplandetail-section h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.myplandetail-section p {
    font-size: 1rem;
    margin: 0;
}

.myplandetail-btn {
    margin: auto;
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #50bcdf;
    border: none;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
}
.myplandetail-btn:hover {
    background-color: #3ba9c9;
}
.myplandetail-section .form-control {
    margin-bottom: 15px;
}
/* CSS 수정 */
/* CSS 수정 */
/* CSS 수정 */
/* CSS 수정 */
.myplandetail-container {
  display: flex;
  justify-content: center; /* 부모 요소를 기준으로 내부 요소들을 가로로 중앙 정렬합니다. */
}

.myplandetail-card {
  flex: 1; /* 왼쪽 박스와 오른쪽 박스가 동일한 너비를 가지도록 설정합니다. */
  margin-right: 10px;
}



.myplandetail-right-card {
  margin-left: 5%; /* 오른쪽 박스를 왼쪽 박스와 간격을 주어 분리합니다. */
}



