/* 전체 리스트 컨테이너는 세로로 배치 */
.list-container {
  flex-direction: column;
  gap: 32px;
}

/* 카드 컨테이너는 블록 레벨 요소로 배치 */
.card-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 500px;
}

.card-container .card {
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 카드에 그림자 추가 */
  margin-bottom: 16px; /* 리스트 아이템 간 간격 설정 */
}

.card-container .hotel-image {
  width: 75px; /* 이미지의 너비 */
  height: 75px; /* 이미지의 높이 */
  object-fit: cover; /* 이미지가 영역을 채우도록 조정 */
  border-radius: 8px;
  margin-right: 15px; /* 이미지와 텍스트 사이 간격 */
}

.card-container .text-container {
  display: flex;
  margin-top: 10px; /* 이미지와 텍스트 사이 간격 */
  flex-direction: column; /* 텍스트를 수직으로 배치 */
  
}

.card-container .card button {
  margin-left: auto; /* 버튼을 오른쪽 끝으로 배치 */
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.card-container .card button:hover {
  background-color: #0056b3;
}

/* 선택된 항목은 가로로 배치 */
.selected-items {
  display: flex; /* Flexbox 레이아웃 사용 */
  flex-wrap: wrap; /* 아이템이 영역을 넘어가면 줄 바꿈 */
  gap: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.selected-items .card {
  width: 300px; /* 카드의 너비 지정 */
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* 카드에 그림자 추가 */
  display: flex;
  flex-direction: column; /* 카드 내 요소를 수직으로 배치 */
  align-items: center;
}

.selected-items .selected-image {
  width: 100px; /* 이미지의 너비 */
  height: 100px; /* 이미지의 높이 */
  object-fit: cover; /* 이미지가 영역을 채우도록 조정 */
  border-radius: 8px;
  margin-bottom: 16px; /* 이미지와 텍스트 사이 간격 */
}

.selected-items .text-container {
  display: flex;
  align-items: center; /* 요소를 수직 중앙 정렬 */
  margin-top: 10px; /* 이미지와 텍스트 사이 간격 */
  flex-direction: column; /* 텍스트를 수직으로 배치 */
}

.selected-items .card button {
  padding: 8px 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.selected-items .card button:hover {
  background-color: #0056b3;
}

.text-container p {
  margin: 0; /* 문단의 기본 마진 제거 */
}
.image-text-container {
  display: flex;
  align-items: center; /* 이미지와 텍스트를 수직 중앙 정렬 */
  gap: 16px; /* 이미지와 텍스트 사이 간격 설정 */
}
.image-text-container h5{
  font-weight: bold;
}

