body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
}

.signup-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.signup-container h2 {
  text-align: center;
  color: #50bcdf;
  font-size: 2em;
}

.signup-container label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.2em;
}

.signup-container input[type="text"],
.signup-container input[type="password"],
.signup-container input[type="email"] {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1.1em;
}

.signup-container button {
  width: 100%;
  padding: 15px;
  background-color: #50bcdf;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.signup-container button:hover {
  background-color: #3ba9c9;
}

.login-link, .home-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 1.1em;
  color: #50bcdf;
  text-decoration: none;
}

.login-link:hover, .home-link:hover {
  color: #3ba9c9;
}
