/* TravelDetails.css */

.travel-container {
  margin: 0 300px; /* 좌우 여백을 20px로 설정 */
}

.travel-details-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px 0px 50px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.travel-details-card h2 {
  margin-top: 0;
}

.travel-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 16px;
}

.travel-info p {
  margin: 0;
  font-size: 16px;
}

.travel-info p strong {
  color: #333;
}

.location-selection {
  display: flex;
  align-items: center; /* 요소들을 수직으로 가운데 정렬 */
  margin-bottom: 10px; /* 요소들 간의 간격 추가 */
}

.address-selection {
  margin-right: 20px; /* 상세주소 선택 부분과 버튼들 간의 간격 조정 */
}

.view-selection {
  display: flex;
  align-items: center; /* 버튼들을 수직으로 가운데 정렬 */
}

.view-selection button {
  margin-right: 5px; /* 버튼들 간의 간격 조정 */
}


/* 기본 select 스타일 */
select {
  padding: 8px; /* 내부 여백 */
  font-size: 16px; /* 폰트 크기 */
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 4px; /* 테두리 모서리를 둥글게 */
  outline: none; /* 포커스시 테두리 제거 */
  background-color: #fff; /* 배경색 */
  cursor: pointer; /* 커서 타입을 포인터로 변경 */
}

/* hover 효과 */
select:hover {
  border-color: #999; /* 마우스 호버시 테두리 색 변경 */
}

/* 포커스 효과 */
select:focus {
  border-color: #66afe9; /* 포커스시 테두리 색 변경 */
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6); /* 포커스시 그림자 효과 */
}

/* 선택된 option 스타일 */
option {
  padding: 8px;
  font-size: 16px;
}

/* 선택된 option hover 효과 */
option:hover {
  background-color: #f0f0f0; /* 마우스 호버시 배경색 변경 */
}
