.footer-flow {
    overflow: hidden;
    position: relative;
}


.footer-flow .row {
    display: flex; /* Flexbox 레이아웃 사용 */
    animation: footerFlow 30s linear infinite; /* 애니메이션 적용 */
}
.footer-flow .card {
    animation: footerFlow 20s linear infinite;
    top: 0;

}

.footer-flow .card {
    margin-right: 10px; /* 카드 간격 설정 */
}

@keyframes footerFlow {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
